# Laravel / Environment
.env
.env.backup
.env.production
/auth.json

# Logs
*.log

# PHP / Laravel
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/vendor
/storage/*.key
/storage/pail

# Node / NPM
/node_modules

# Vite / Build
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

# IDE / Editor
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

# Laravel Helper
_ide_helper.php

# Homestead
Homestead.json
Homestead.yaml

# OS
.DS_Store
Thumbs.db